section{
    box-sizing: border-box;
    padding-top: 20px;
    font-family: 'Cairo', sans-serif !important;
    padding: 30px;
    margin: 5px;
    border: solid 3px orange;
    border-radius: 1.5%;
}
.row{
    margin-top: 20px;
}
button{
    background-color: orange !important;
    margin-top: 10px;
    padding: 10px 40px !important;
}
button:hover{
    background-color: white !important;
    color: orange !important;
    border: orange solid 1px;
}